{% load staticfiles %}
<html>

    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{% static 'app.js' %}"></script>
        <script src="{% static 'route.js' %}"></script>
        <script src="{% static 'js/components/LeftSideBarComponent.js' %}"></script>
        <script src="{% static 'js/components/WhatReadNext.js' %}"></script>
        <script src="{% static 'js/controllers/ArticleController.js' %}"></script>
        <script src="{% static 'js/services/ArticleListService.js' %}"></script>
        <script src="{% static 'js/services/RandomArticleService.js' %}"></script>

    </head>

    <body ng-app="blog">

        <div class="container">


            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Technical Blog</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>


            <div class="row">

                {% verbatim %}
                    <!-- left side bar -->
                    <div class="col-md-3">
                        <left-sidebar></left-sidebar>
                    </div>
                    <!-- end of left side bar -->

                    <!-- articles content -->
                    <div class="col-md-9">

                        <!-- main articles content -->
                        <div class="content">
                            <div class="content">
                                <div ng-view></div>
                            </div>
                        </div>
                        <!-- end of main articles content -->

                        <!-- what read next start -->
                        <h2>What to Read Next</h2>
                        <what-read-next></what-read-next>
                        <!-- end of what read next -->

                    </div>
                    <!-- end of articles content -->
                {% endverbatim %}

            </div>
        </div>

    </body>
</html>
