<div class="image">
    <img src="/static/images/Spider-Man.jpeg" class="img-responsive" style="max-width: 80%; margin: 20 20; center">
</div>

<div class="image">
    <img src="/static/images/Spider-Man.jpeg" class="img-responsive" style="max-width: 80%; margin: 20 20">
</div>

<div class="image">
    <img src="/static/images/Spider-Man.jpeg" class="img-responsive" style="max-width: 80%; margin: 20 20">
</div>

<div class="image">
    <img src="/static/images/Spider-Man.jpeg" class="img-responsive" style="max-width: 80%; margin: 20 20">
</div>

<div class="image">
    <img src="/static/images/Spider-Man.jpeg" class="img-responsive" style="max-width: 80%; margin: 20 20">
</div>
