

<div class="row">
    <div class="col-md-6">
        <h2>What to Read Next</h2>
    </div>
    <div class="col-md-6">
        <h3>
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            <button ng-disabled="currentPage >= $ctrl.random_articles.length/4 - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </h3>
    </div>
</div>
<div class="row">
    <div ng-repeat="article in $ctrl.random_articles | startFrom:currentPage*4 | limitTo:4">
        <!-- list of articles -->
        <div class="col-md-2">
            <a href="#!/articles/{{article.id}}" class="thumbnail">
              <img src="{{article.hero_image}}">
            </a>
            <strong>{{article.title}}</strong>
        </div>
        <!-- end of list of articles -->
    </div>
</div>
